
.detail_wrapper{
    padding:20px 40px;
}

.info_wrapper{
    position: relative;
    height:500px;
}
.info_back{
    height:500px;
    background-size:cover;
    background-position: top center;
    opacity: 0.3;
    filter:blur(2px);
}

.info {
    display:flex;
    align-items: center;
    position :absolute;
    top:0px;
    width:100%;
    height:100%;
}
.info_main{
    flex:1;
    height:100%;
    margin:10px;
    margin-right:25px;
    color:white;
    overflow-x :hidden;
    overflow-y : auto;
    position: relative;
}

.info_main *{
    margin:10px;
}

.info_poster{
   height:90%;
   width:20%;
   min-width: 250px;
   margin:10px;
   background-position: center center;
   background-size: cover;
}

.info_overview{
    min-height: 180px;
    color:rgba(255, 255, 255, 0.801);
}
.trailer{
    width:100%;
    height:200px;
    display:flex;
    overflow-x:auto;
}

@media screen and (max-width:768px){
    .info_main{
        -ms-overflow-style: none;       /* IE, Edge */
        scrollbar-width: none;          /* Firefox */

        margin-right:10px;
    }

    .info_main::-webkit-scrollbar{
        display: none;
    }

    .info_back{
        display:none;
        z-index: -2;
    }

    .detail_wrapper{
        padding:10px 10px;
    }
    .info_poster{
        position: fixed;
        left:-10px;
        width:100%;
        height:100%;
        z-index:-1;
        opacity: 0.3;
        background-size:cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:425px){
    .info{
        z-index:-1;
    }
    .info_poster{
        top:40px;
        height:calc(100% - 40px);
        margin:0px;
        left:0px;
    }
    .info_main{
        margin:0px;
    }
    
    .info_main h1{
        font-size:1.5em;
    }

    .stat{
        font-size:15px;
    }

    .info_overview{
        font-size:13px;
    }

    .trailer{
        margin-left:0px;
    }

}