*{
    box-sizing: border-box;
}

.home_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    padding:20px 40px 40px 40px;
    
}

.home_section {
    margin-bottom : 20px;
    background-color: transparent;
    width:100%;
}
.contents{
    display:flex;
    overflow-x:auto;
}

.contents_category{
    display:inline-block;
    margin:10px;
    color:white;
    font-weight: bold;
    font-size:20px;
}

.contents_poster{
    margin:10px;
    width:200px; 
    height:300px;
    background-size:cover;
    background-position: center center;
    flex-shrink: 0;
}

.contents_poster:nth-child(1){
    margin-left: 0px;
}

.fav{
    width:100%;
    height:300px;
    background-size:cover;
    background-position: center 60%;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home_wrapper .fav h1{
    color:white;
    padding: 20px 40px;
    /*background-color: rgb(0,0,0,0.2);*/
    border-radius: 20px;
}

@media screen and (max-width:768px){
    .home_wrapper{
        padding: 20px 5px 5px 10px;
    }
    .contents_poster{
        width:100px;
        height:150px;
    }

    .fav {
        height:200px;
    }

    .fav h1{
        font-size:1.5em;
    }

    .contents_category{
        font-size:15px;
        margin:0px 10px;
    }

    .home_section{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:320px){
    .fav{
        height:150px;
    }

    .fav h1{
        font-size: 1.3em;
    }
}