.search_wrapper{
    width:100%;
    padding:40px;
}

#search_input{
    width:100%;
    height:40px;
    background-color:rgb(77, 77, 77);
    color:white;
    border:none;
    padding-left: 10px;
    font-size:20px;
}

#search_input::placeholder{
    color:rgb(170, 170, 170);
}

#searchTitle{
    color:white;
}

@media screen and (max-width:425px){
    .search_wrapper{
        padding:10px 40px;
    }

    #search_input{
        height:30px;
        font-size:15px;
    }

    #searchTitle{
        font-size:1.5em;
    }
}