html, body{
    height:100%;
}

body {
    height: 100%;
    margin:0px;
    padding-top:60px;
    background-color: black;
}

body ::-webkit-scrollbar{
    width:10px;
}
body ::-webkit-scrollbar-thumb{
    background: rgb(255,255,255,0.5);
    background-clip:padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}
body ::-webkit-scrollbar-track{
    background: rgb(255,255,255,0.1);
    border-radius: 10px;
}
